p{
  color: #f2f2f2;
}

body{
  background-image: url(https://i.pinimg.com/originals/2c/d8/17/2cd81711a1653cf1a2c91527d90fc2d5.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  font-style: bold;
  font-style: italic;
}

img{
  height: 20%;
  width: 30%;
}
/* Navigation Bar */
ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  background-color: #005ce6;
}

li {
  float: left;
}


li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #f2f2f2;
}

.hotel_icon{
  text-align: center;
}

.social__icon_social__icon--fb,.social__icon_social__icon--tw,
.social__icon_social__icon--tum,.social__icon_social__icon--in{
	text-align: right;
	float: right;
}